! ******************************************************************************
!
! Project: Demo scripts and templates for research users on NAME-on-JASMIN
!
! File:    Input file template for NAME air history run
!
! Author:  Andrew Jones, Atmospheric Dispersion, UK Met Office
!
! Date:    03/03/2022
!
! For NAME Version: 8.3
!
! ******************************************************************************

Main Options:
Absolute or Relative Time?, Fixed Met?, Flat Earth?,    Run Name, Random Seed, Max # Sources, Backwards?
                  Absolute,         No,          No,  {{Run_Name}},       Fixed,             1,        Yes

Restart File Options:
# Cases Between Writes, Time Between Writes, Delete Old Files?, Write On Suspend?,
                      ,                    ,                  ,                  ,

Multiple Case Options:
Dispersion Options Ensemble Size, Met Ensemble Size,
                               1,                 1,

OpenMP Options:
Use OpenMP?, Threads, Particle Update Threads, Output Group Threads
        Yes,      16,                      16,                    1

Output Options:
Folder
{{OutputDir}}

Input Files:
File names
{{MetDefnFile}}

Horizontal Coordinate Systems:
Name
Lat-Long

Vertical Coordinate Systems:
Name
m agl
m asl

Locations: Receptor Locations
Name,                H-Coord,               X,               Y,
{{ReceptorLoc_Name}}, Lat-Long, {{ReceptorLoc_X}}, {{ReceptorLoc_Y}},

Horizontal Grids:
Name,            H-Coord,         nX,         nY,        X Min,        Y Min,        X Max,        Y Max,
HGridForFields, Lat-Long, {{HGrid_nX}}, {{HGrid_nY}}, {{HGrid_Xmin}}, {{HGrid_Xmax}}, {{HGrid_Ymin}}, {{HGrid_Ymax}},

Vertical Grids:
Name,           Z-Coord,        Z-Array,      Av Z-Array,
ZGridForFields,   m agl, ZGridForFields, Z on Boundaries,

Temporal Grids:
Name,                         nT,                dT,               T0,
TGridForFields,   {{MainTGrid_nT}}, {{"%02d"|format(MainTGrid_dT)}}:00,   {{MainTGrid_T0}},
TGridHourly,    {{HourlyTGrid_nT}},             01:00, {{HourlyTGrid_T0}},
TGridEndOfRun,                 1,     {{Duration}}:00,   {{EndTimeOfRun}},

{% include 'h_domain_include.tmpl' %}

Species:
Name,         Category, Half Life, UV Loss Rate, Surface Resistance, Deposition Velocity, Mean aerosol diameter, A rain - BC, B rain - BC, A snow - BC, B snow - BC, A rain - IC, B rain - IC, A snow - IC, B snow - IC, Molecular Weight, Material Unit,
INERT-TRACER,    INERT,    Stable,     0.00E+00,                   ,                 0.0,                      ,            ,            ,            ,            ,            ,            ,            ,            ,                0,             g,

Species Uses:
Species,      On Particles?, On Fields?, Advect Field?
INERT-TRACER,           Yes,         No,            No

Sources:
      Name,     Start Time,     Stop Time,   Shape,  H-Coord, Z-Coord,   Set of Locations,           Location, dH-Metres?, dZ-Metres?,          Z,          dZ,  dX,  dY, Angle, Top Hat,          # Particles,       Source Strength, Plume Rise?, Temperature, Volume Flow Rate,  Max Age
Receptor_1, {{ArrivalStart}}, {{ArrivalStop}},  Cuboid, Lat-Long,   m agl, Receptor Locations, {{ReceptorLoc_Name}},        Yes,        Yes, {{"%.3f"|format(ArrivalZ)}}, {{ArrivalDZ}}, 0.0, 0.0,   0.0,     Yes, {{nParticlesPerHr}}/hr, INERT-TRACER 1.0 g/hr,          No,         0.0,              0.0, infinity

Output Requirements - Fields:
Quantity,          Decay deposition?,      Species, Source,         H-Grid,          Z-Grid,         T-Grid, BL Average, T Av or Int,           Av Time,    # Av Times, Sync?, Across, Separate File, Output Route, Output Format,  Output Group
Air Concentration,                  , INERT-TRACER,       , HGridForFields,  ZGridForFields, TGridForFields,         No,         Int, {{"%02d"|format(MainTGrid_dT)}}:00, {{AvTimesMain}},    No,     TZ,             T,            D,            IA,  Fields_grid1
Air Concentration,                  , INERT-TRACER,       , HGridForFields,  ZGridForFields,  TGridEndOfRun,         No,         Int,     {{Duration}}:00,  {{AvTimesAll}},    No,     TZ,             T,            D,            IA,  Fields_grid2

Output Requirements - Fields:
Name,                   Quantity, Species,      T-Grid, T Av Or Int, Sync?, Output Route, Output Format, Output Group
% of run completed, Progress (%),        , TGridHourly,          No,   Yes,            D,            AF,      Numbers
Count of particles,  # Particles,        , TGridHourly,          No,   Yes,            D,            AF,      Numbers

Sets of Dispersion Options:
Max # Particles, Max # Full Particles, Velocity Memory Time, Mesoscale Velocity Memory Time, Inhomogeneous Time, Skew Time,     Sync Time, DeltaOpt, Time of Fixed Met, Computational Domain, Deep Convection?, Radioactive Decay?, Agent Decay?, Dry Deposition?, Wet Deposition?, Turbulence?, Mesoscale Motions?, Vertical Velocity?, Chemistry?
        1000000,                    2,                00:00,                          00:00,              00:00,     00:00, 00:{{"%02d"|format(SyncTime)}},        1,                  ,    Dispersion Domain,              New,                Yes,           No,             Yes,             Yes,         Yes,                Yes,                Yes,         No

Array: ZGridForFields
Array Values
{% for Height in ZGrid %}{{Height}}
{% endfor %}
{% include MetDeclnTmpl %}

